
point_clouds_examples/deep_learning_segmentation/Deep_learning_segmentation.bin
point_clouds_examples/machine_learning_segmentation/Machine_Learning_Segmentation.bin
point_clouds_examples/potree_converter/Forjado_1_y_3.bin
temp_folder_for_results/Machine_Learning/INPUT_classification/input_class_test.txt
temp_folder_for_results/Machine_Learning/INPUT_classification/input_class_train.txt
temp_folder_for_results/Machine_Learning/INPUT_feature_selection/input_features.txt
temp_folder_for_results/Machine_Learning/OUTPUT/y_train.txt
